.vs
.vscode
ipch
*.log
*.sdf
*.suo
*.opensdf
*.vcxproj.user
config.txt
~$*
*.o
*.d

Downloaded
Temp

.editorconfig

WorkDesign/
*.tss

cfs-data.hash
.current_version

.DS_Store
last_build_commit_hash.txt

Gemfile.lock
