
*.csproj
*.csproj.user
*.sln
/log
/obj
/Library
/Temp
/UserSettings

/AssetBundle
/AppBuilder
/AppBuilderOutput.txt

/Assets/Resources/ConfigDevelopment*
/*.apk
/*.symbols.zip

/Assets/StartupWindow.asset*
/Assets/Bookmark.asset*
/Assets/LocalSettings.asset*
/Assets/Scenes/Test*
/Assets/Scripts/Tests/Ariyoshi*
/Assets/Resources/ConfigRelease.txt*

#repositoryに含ませる
!/Assets/Scenes/Tests